@import '../../style/_main';
.subtitleContainer {
    width:50%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(60,64,67,0.2);
    border-radius: 2%;
    padding: 1%;
    opacity: 0;
    position: absolute;
    bottom: 10%;
    align-items: center;
    margin-left: 2px;
    @include animation;
    .preview_p{
        
        font-size: 12px;
   
        @include mobile {
            font-size:8px
        }
      
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modify_p{
        
        cursor: pointer;
        font-weight: bold;
        color: #f59f00;
        text-decoration-line: underline;
        text-decoration-color: #f59f00;
       
    }
}

@keyframes true4 {
    0% {
      opacity: 0;
    }
    100% {
   
      opacity: 1;
    }
  
   
}
@keyframes false4 {
    0% {
      opacity: 1;
    }
    100% {
   
      opacity: 0;
    }
  
   
}