@import '../../style/main';
// Variables
@media (max-width: 600px){
  html, body{ 
      font-size: 12px;
  }
}

$bg-color: rgb(8, 142, 195);

$inbox-primary: #EDF2F4;
$inbox-secondary: lighten($bg-color, 7%);
$inbox-width: 650px;
$inbox-height: 450px;
$inbox-radius: 4px;
@keyframes true2 {
  0% {
    right:-100%;
  }
  100% {
    right: 3%;
   
  }

 
}
@keyframes false2 {
  100% {
    right:-100%;

     
  }
 
  
  0% {
    right:3%;

  
  }
}


// Inbox Styles
.pencilContainer {
  background: $inbox-primary;

  // height: $inbox-height;
  display:flex;
  flex:1 1 0%;
  min-height:500px;
  overflow-x:scroll;
  border-radius: $inbox-radius;
  border-radius: 2%;
  width:35%;
  height:80%;
  background-color: white;
  position: fixed;
  z-index: 1000000;
  top:5%;
  right:-100%;
  @include animation;
  

}

.leftBlock {
  width:50vw;
  display:flex;
  border-right: 0.1px solid lightgray;
}
.rightBlock {
  width:50vw;
  display:flex;
}




// Custom Scrollbars
::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}