@import "../../style/utils.scss";
@import '../../style/main';
@keyframes true3 {
    0% {
        width:100%;
    }
    100% {
        width:50%;
     
    }
  
   
  }
  @keyframes false3 {
    100% {
      width: 100%;
  
       
    }
   
    
    0% {
      
        width:50%;
    
    }
  }
.SectionContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    @include animation;

}

.video {
    margin: 5px;
    width: 100%;
    height:40%;
}
