@import "../../style/utils.scss";
@import '../../style/main';
@keyframes true3 {
    0% {
        width:100%;
    }
    100% {
        width:55%;
     
    }
  
   
  }
  @keyframes false3 {
    100% {
      width: 100%;
  
       
    }
   
    
    0% {
      
        width:55%;
    
    }
  }
.SectionContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    @include animation;

}

.video {
    margin: 5px;
 
    
}
#sharevideo {
  height:70%;
  position:absolute;
}
.NotShare {
  display:flex;
  
}
.OnShare {
  display: flex;
  flex-direction: column;
  position:absolute;
  width:20%;
  height: 100%;
  top:0;
  right:8%;
  overflow-y: scroll;
}
.notshare {
  width:20%;
  height: 20%;
}
